@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --M14: 500 14px / normal GmarketSansMedium;
  --M15: 500 15px / normal GmarketSansMedium;
  --M18: 500 18px / normal GmarketSansMedium;
  --M20: 500 20px / normal GmarketSansMedium;
  --M22-22: 500 22px / 22px GmarketSansMedium;
  --M26-50: 500 26px / 50px GmarketSansMedium;
  --M28: 500 28px / normal GmarketSansMedium;
  --M28-42: 500 28px / 42px GmarketSansMedium;
  --M32: 500 32px / normal GmarketSansMedium;
  --B18: 700 18px / normal GmarketSansBold;
  --B20: 700 20px / normal GmarketSansBold;
  --B22: 700 22px / normal GmarketSansBold;
  --B28: 700 28px / normal GmarketSansBold;
  --B32: 600 32px / normal GmarketSansBold;
  --B35: 700 35px / normal GmarketSansBold;
  --B25-40: 600 25px / 40px GmarketSansMedium;
  --M32-600: 600 32px / normal GmarketSansMedium;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  background-repeat: no-repeat;
  font-size: 100%;
}

html,
body {
  overflow-x: hidden;
  font-family: 'GmarketSansMedium', sans-serif;
}

input {
  outline: none;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: auto;
}

* {
  box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-transition: background-color 9999s ease-out;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
